.app-name {
  	position: relative;
}
.about-us-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.app-name-parent {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
}
.volunteer-to-deliver1 {
  	width: 642px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.volunteer-to-deliver {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 8px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 16px;
}
.volunteer-to-deliver-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 24px;
}
.istockphoto-1299146413-1024x10-icon {
  	width: 655px;
  	position: relative;
  	height: 385px;
  	object-fit: cover;
}
.istockphoto-1299146413-1024x10-wrapper {
  	width: 655px;
  	height: 390px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: center;
}
.frame-parent {
  	width: 1353px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	font-size: 16px;
}
.lets-save-the {
  	flex: 1;
  	position: relative;
}
.lets-save-the-world-by-donatin-wrapper {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.splash-screen {
  	width: 100%;
  	position: relative;
  	background-color: #f5e2e2;
  	height: 1024px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 130px 40px;
  	box-sizing: border-box;
  	gap: 56px 24px;
  	text-align: left;
  	font-size: 40px;
  	color: #000;
  	font-family: Inter;
}

